*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #b4b4b4 ;
  
}

.mainInfo{
  min-height: calc(100vh - 200px);
  padding: 20px;
}

header {
  background-color: #b4b4b4;
  color: #000000;
  padding: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Deixa o logo à esquerda e o nav à direita */
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: left;
}

nav {
  flex-grow: 1; /* Faz o nav ocupar todo o espaço possível */
  display: flex;
  justify-content: center; /* Centraliza os links dentro do nav */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 40px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}


nav ul li a:hover {
  text-decoration: none;
}
.img-perfil{
  border-radius: 0%;
  width:500px;
  height:500px;
  margin: 150px;
}
#info {
  text-align: center;
}
.texto-sobremim{
  text-align: center;
  width: 700px;
  height: 20px;
  margin-left: 100px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 4%;
}
.texto{
  text-align: center;
  padding: 20px;
  width: 700px;
  height: 200px;
  margin: 100px;
  font-size: large;
}
.personal-info, .skills {
  flex: 1;
  color: #000000;
}

.skill-card {
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
#contato{
  text-align: center;
  background-color: #b4b4b4;
  color: #000000;
  margin-top: 60px;
}

#contato form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contato form input,
#contato form textarea{
  margin: 10px 100px;
  width: 50%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #000000;
  color: #b4b4b4;
  
}
#contato form button {
  width: 10%;
  border-radius: 30px;
  border: none;
  background-color:#000000 ;
  color: #b4b4b4;
  padding: 20px;
  cursor: pointer;
  margin: 20px;
  margin-bottom: 100px;
}
footer {
  background-color: #b4b4b4;
  width: 100%;
  color: #000000;
  text-align: center;
  padding: 10px 0;
  height: 200px;
}




footer .footer-content p {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.8;
}

footer .socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}

footer .socials li {
  margin: 0 15px;
}

footer .socials li a {
  color: #000000;
  font-size: 1.5rem;
  transition: color 0.3s;
}

footer .socials li a:hover {
  color: #154bc2;
}



footer .footer-bottom p {
  margin: 10px;
}

footer .footer-bottom p a {
  color: #f4b41a;
  text-decoration: none;
}

footer .footer-bottom p a:hover {
  text-decoration: underline;
}
